<ion-header>
</ion-header>

<ion-content>
  <div class="taobaoBox">
    <!--header-->
   

    <!--ad-->
    <div class="ad">
      <div class="box">
        <div class="container">
          <div class="tips1">
            Login with Password
          </div>
          <div class="form">
            <div class="userbox">
              <label for="username"></label>
              <input [(ngModel)]="emailValue" name="email" type="email" id="username" placeholder="Exeter Email" />
              <!--<span class="delete">x</span>-->
              <!--  <span class="usertips" id="username">会员名/邮箱/手机号</span> -->
            </div>

            <div class="passwdbox">
              <label></label>
              <input [(ngModel)]="passwordValue" name="password" type="password" id="passwd" placeholder="Password" />
            </div>


            <div class="submitbox">
              <button type="submit" name="submit" (click)="loginFunction()">Login</button>
            </div>

            <div class="loginbox">

              <a href="#" class="sina"><img src="">&nbsp;Login w/ Email</a>
              <a href="#" class="alipay"><img src="">&nbsp;Login w/ Phone</a>

            </div>
            <div class="forget-register">
              <a href="/register" class="register">Register</a>
              <a href="#" class="forget">Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer-->
    

  </div>
</ion-content>