<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <body>
    <header>
      <nav class="tnav">
        <div class="site-nav">
          <div class="site-nav-bd">
            <ul class="site-nav-bd-l">
              <li class="menu">
                <div class="menu-hd">
                  <a href="" class="h">Login
                  </a>
                  <a href="">Register
                  </a>
                </div>
              </li>
              <li class="menu mobile">
                <div class="menu-hd">
                </div>
              </li>
              <li class="menu weekend">

              </li>
            </ul>
            <ul class="site-nav-bd-r">
              <li class="menu home">
                <div class="menu-hd">
                  <a href="" class="h">Home Page
                  </a>
                </div>
              </li>
              <li class="J_Menu menu my-taobao">
              </li>
              <li class="J_Menu menu menu-empty">
                <div class="menu-hd">
                  <a href="">
                    <span class="iconfont icon-xiazai3">

                    </span>
                    <span>Cart</span>
                    <strong class="h"> &nbsp; 0</strong>
                  </a>
                  <span class="arrow-icon-wrapper">
                    <span class="iconfont icon-xiangxia">

                    </span>
                  </span>
                </div>
              </li>
              <li class="J_Menu menu favorite">
                <div class="menu-hd">
                  <a href="">
                    <span class="iconfont icon-xing ">

                    </span>
                    <span>Lists</span>
                  </a>
                </div>
              </li>
              <li class="menu guide">
                <div class="menu-hd">
                  <a href="">Directory</a>
                </div>
              </li>
              <li class="site-nav-pipe">|</li>
              <li class="J_Menu menu seller-center">
              </li>
              <li class="menu service">
                <div class="menu-hd">
                  <a href="">Customer Service</a>
                </div>
              </li>
              <li class="J_Menu menu site-map">
                <div class="menu-hd">
                  <a href="" target="_top">
                    <!--<span class="g-icon" style="color: #FF4400; font-size: 10px">  三-->
                    <!--</span>-->
                    <span>Account</span>
                  </a>
                  <span class="arrow-icon-wrapper">
                    <span class="iconfont icon-xiangxia">

                    </span>
                  </span>
                </div>
                <!--<div class="menu-bd">-->
                <!--<div style="width: 972px;" id="J_SiteMapBd" class="menu-bd-panel">-->

                <!--</div>-->
                <!--</div>-->
              </li>
            </ul>

          </div>
        </div>

        <!--<img src="image/tnav.png">-->
      </nav>


      <!--搜索-->
      <div id="J_Header">
        <div class="tb-header" role="banner">
          <div class="tb-header-content">

            <div class="J_Search tb-header-search search ">
              <div class="search-panel">
                <form name="search" class="J_SearchForm">
                  <div class="search-buttons">
                    <button class="J_PrimarySearch search-button primary" type="submit">Search EMP</button>

                    <button class="J_SecondarySearch search-button secondary" type="submit">
                      Search Seller
                    </button>

                  </div>
                  <div class="search-panel-fields">
                    <div class="search-combobox" id="ks-component296">
                      <div class="search-combobox-input-wrap">
                        <input class="search-combobox-input" name="q" aria-label="请输入搜索文字">
                      </div>
                    </div>
                  </div>
                  <!--<div class="J_HiddenFields">-->
                  <!--<input type="hidden" value="newHeader" name="s_from">-->
                  <!--<input type="hidden" name="ssid" value="s5-e">-->
                  <!--<input type="hidden" name="search_type" value="item">-->
                  <!--<input type="hidden" name="sourceId" value="tb.item">-->
                  <!--</div>-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="page">
      <div id="content">

        <p id="J_dcpg" class="design-page" style="display:none;"></p>
        <div class="J_AsyncDC" data-type="css">
        </div>
        <div id="J_DcHead" class="J_AsyncDC tb-async-head tb-shop" data-type="head" style="height: auto;">
          <!--hdkey:new_p_lazy_sid36230273_pid1629704105_isNew,cacheAt:2018-12-19 13:57:50,ip:sitemisc011001226217.center.na62-->
          <div class="tb-shop" id="hd" data-spm-anchor-id="2013.1.0.i0.3f334371Qsqttx">
            <div class="layout grid-m J_TLayout" data-widgetid="21105161916" data-componentid="23" data-prototypeid="23"
              data-id="21105161916" data-max="">
              <div class="col-main">
                <div class="main-wrap J_TRegion" data-modules="main" data-width="h950" data-max="">
                  <div class="J_TModule" data-title="店铺招牌">






                    <div class="tb-module tshop-um tshop-um-ow-dpzp" style="">
                      <div class="dpzp" style="height:120px;">








                        <div class="dztp">
                          <!-- <a href="" target="_blank">
                            <img width="100%" height="120" src="../image/info/2.png"
                              style="background:url(../image/info/2.jpg) no-repeat center 0;"></a> -->
                        </div>



                      </div>
                    </div>
                  </div>
                  <div class="J_TModule" data-title="导航">
                    <div class="skin-box tb-module tshop-pbsm tshop-pbsm-shop-nav-ch "
                      style="display: block; visibility: visible;">
                      <s class="skin-box-tp"><b></b></s>

                      <div class="skin-box-bd" style="height: auto !important;">
                        <div class="all-cats popup-container">


                        </div>
                        <ul class="menu-list">
                          <li class="menu" data-page-id="1629704104">
                            <a class="link" href="" rel="nofollow">
                              <span class="title">Storefront</span></a> <!--444 1629704104   0 444-->
                          </li>


                          <li class="menu" data-link-id="10989444">
                            <a class="link" href="" rel="nofollow">
                              <span class="title">NEW/On Sale</span></a>
                          </li>

                          <li class="menu" data-link-id="10979553">
                            <a class="link" href="" rel="nofollow">
                              <span class="title">Featured</span></a>
                          </li>

                        </ul>
                      </div>
                      <s class="skin-box-bt"><b></b></s>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


        <!--内容1-->

        <div class="detail" style="height: 640px;margin-left: 100px">
          <div style="border: solid 1px #CDCDCD; margin-left: 200px;margin-top: 10px;width: 1160px;height: 620px">
            <div style="width: 400px;height: 480px; float: left">
              <div class="box" style="margin-top: 0px">

                <div>
                  <div class="tb-booth tb-pic tb-s310">
                    <a href="">
                      <img src="../image/info/example.png" rel="../image/info/example.png" class="jqzoom"
                        width="100%" /></a>
                  </div>

                  <ul class="tb-thumb" id="thumblist">
                    <li class="tb-selected">
                      <div class="tb-pic tb-s40">
                        <a href="#"><img src="../image/info/example.jpg" mid="../image/info/example.jpg"
                            big="../image/info/example.jpg"></a>
                      </div>
                    </li>
                    <li>
                      <div class="tb-pic tb-s40"><a href="#"><img src="../image/info/example2.jpg"
                            mid="../image/info/example2.jpg" big="../image/info/example2.jpg"></a></div>
                    </li>
                    <li>
                      <div class="tb-pic tb-s40"><a href="#"><img src="../image/info/example3.jpg"
                            mid="../image/info/example3.jpg" big="../image/info/example3.jpg"></a></div>
                    </li>
                    <li>
                      <div class="tb-pic tb-s40"><a href="#"><img src="../image/info/example4.jpg"
                            mid="../image/info/example4.jpg" big="../image/info/example4.jpg"></a></div>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="shoucang" style="display: block;float: left;margin-top: 70px">
                <a href="">
                  <div style="display: block;float: left">
                    <img style="" src="../image/info/5.png">
                  </div>
                </a>
                <div style="display: block;float: left;margin-top: 3px">
                  <a href=""> Add to Favorite<span>(10,000 People Have Added)</span></a>
                </div>

              </div>
              <div style="display: block;float: left;margin-top: 70px;margin-left: 20px;margin-right: 20px">|</div>
              <div class="shoucang" style="display: block;float: left;margin-top: 70px">
                <a href="">
                  <div style="display: block;float: left">
                    <img style="" src="../image/info/6.png">
                  </div>
                </a>
                <div style="display: block;float: left;margin-top: 0px">
                  <a href="">Share</a>
                </div>

              </div>
            </div>

            <div class="zhong" style="float: left">
              <div style="    padding: 20px 0 10px!important;width: 460px;height: 620px">
                <div class="zt"
                  style="    min-height: 21px;  _height: 21px; font-size: 16px; font-weight: 700; line-height: 21px; color: #3C3C3C;">
                  <h4>&nbsp;&nbsp;{{data.description}}</h4>
                </div>
                <a href="">
                  <div class="shoucang" style="display: block;float: left;margin-top: 20px">

                    <div style="display: block;float: left;margin-top: 0px;margin-left: 10px">
                      <a href="">Brand New 70% OFF</a>
                    </div>
                  </div>
                </a>


                <ul class="tb-meta tb-promo-meta">

                  <li id="J_StrPriceModBox" class="tb-detail-price tb-clear J_PriceItem">
                    <span class="tb-property-type">Price</span>
                    <div class="tb-property-cont">
                      <strong id="J_StrPrice"
                        style="font-size: 14px; color: rgb(60, 60, 60); font-weight: 400; text-decoration: line-through;">
                        <em class="tb-rmb">$</em><em class="tb-rmb-num">48.00</em></strong>

                    </div>
                  </li>
                  <li id="J_PromoPrice" class="tb-detail-price tb-promo-price tb-clear">
                    <span class="tb-property-type">EMP Price</span>
                    <div class="tb-property-cont">
                      <div id="J_Promo" class="tb-promo-mod">
                        <div id="J_PromoHd" class="tb-promo-hd tb-promo-item">
                          <div class="tb-promo-item-bd">
                            <strong class="tb-promo-price"><em class="tb-rmb">$</em>
                              <em id="J_PromoPriceNum" class="tb-rmb-num">{{data.price}}.00</em></strong>
                            <span id="J_PromoType" class="tb-promo-type">PROMO!</span>
                            <span id="J_PromoTips" class="tb-promo-tips"></span>
                          </div>
                          <div class="tb-promo-item-ft"></div>
                        </div>
                        <div id="J_PromoBd" class="tb-promo-bd"></div>
                      </div>
                    </div>
                  </li>
                  <li id="J_Duty" style="margin-top: 10px;padding-top: 20px"></li>
                  <li id="J_ActivityPrice"></li>

                  <li id="J_OtherDiscount" class="tb-clear" style="margin-top: 10px;padding-top: 10px">
                    <span class="tb-property-type">Coupon</span>
                    <div class="tb-other-discount">

                      <div class="tb-other-discount-content tb-other-discount-split">
                        <div class="tb-coupon">
                          <div style="padding-top: 6px ;float: left">
                            <img class="tb-coupon-icon">
                          </div>
                          Buy 3 Free 1 Coupon


                          <a class="J_coupon" href="#">Get</a>


                        </div>

                        <div class="tb-coupon">
                          <div style="padding-top: 6px ;float: left ;margin-left: -85px">
                            <img class="tb-coupon-icon">
                          </div>
                          $10 Storewise Coupon


                          <a class="J_coupon" href="#">Get</a>


                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="J_Counter" class="tb-counter">
                    <!--<span class="tb-property-type">销量</span>-->
                    <div class="tb-counter-bd">
                      <div class="tb-rate-counter">
                        <a id="J_ReviewTabTrigger" href="">
                          <strong id="J_RateCounter">232</strong>
                          <span>Comments</span>
                        </a>
                      </div>
                      <div class="tb-sell-counter">
                        <a href="" title="30天内已售出252件，其中交易成功137件">
                          <strong id="J_SellCounter">137</strong>
                          <span>Sold</span>
                        </a>
                      </div>
                    </div>
                  </li>

                </ul>




                <div class="peisong" style="margin-top: 10px;margin-bottom: 10px">

                  <p><span style="margin-right: 30px;margin-left: 10px">Ship</span> <span
                      style="margin-right: 10px;">EPAC</span><span>to</span><a style="margin-left: 10px;">Goel

                      <span style="float:right;margin-right: 290px;margin-top: 5px">
                        <img src="../image/info/13.png">
                      </span></a> </p>
                  <a style="margin-right: 10px;float: left;margin-left: 200px;margin-top: -20px">In-person

                    <div style="float:right;margin-right: 140px;margin-top: 5px">
                      <img src="../image/info/13.png">
                    </div>
                  </a>
                </div>
                <div style="height: 1px;border-bottom: dotted 1px gainsboro;width: 400px;float: left"></div>
                <div style="float: left;margin-top: -7px"></div>


                <div class="peisong" style="margin-top: 10px;margin-bottom: 10px;width: 460px">

                  <p><span style="margin-right: 30px;margin-left: 10px">Size</span>
                  <ul data-property="尺码" class="J_T" style="float: left;margin-left: 70px;margin-top: -10px">
                    <li
                      style="    float: left; position: relative; margin: 0 5px 10px 0; vertical-align: middle;line-height: 20px; background: #FFF;">
                      <a href="">
                        <span>XS</span>
                      </a>

                    </li>

                    <li
                      style="    float: left; position: relative; margin: 0 5px 10px 0; vertical-align: middle;line-height: 20px; background: #FFF;">
                      <a href="">
                        <span>S</span>
                      </a>

                    </li>

                    <li
                      style="    float: left; position: relative; margin: 0 5px 10px 0; vertical-align: middle;line-height: 20px; background: #FFF;">
                      <a href="">
                        <span>M</span>
                      </a>

                    </li>

                    <li
                      style="    float: left; position: relative; margin: 0 5px 10px 0; vertical-align: middle;line-height: 20px; background: #FFF;">
                      <a href>
                        <span>L</span>
                      </a>

                    </li>

                    <li
                      style="    float: left; position: relative; margin: 0 5px 10px 0; vertical-align: middle;line-height: 20px; background: #FFF;">
                      <a href="">
                        <span>XL</span>
                      </a>

                    </li>


                  </ul>
                </div>

                <div class="peisong" style="margin-top: 30px;margin-bottom: 10px;width: 460px;clear: both">



                </div>
                <div class="peisong" style="margin-top: 30px;margin-bottom: 10px;width: 460px;clear: both">

                  <span style="margin-right: 30px;margin-left: 10px;">Amount</span>
                  <a href=""><img src="../image/info/16.png" style="width: 6%"></a>
                  <input id="J_IptAmount" type="text" class="tb-text" value="1" maxlength="8" title="请输入购买量"
                    style=" margin-right: -5px;margin-left: -5px;   width: 48px;height: 26px;font-size: 16px; line-height: 26px;text-align: center;color: #666; border: 1px solid #CCC; outline: 0;background: #FFF;">
                  <a href=""><img src="../image/info/17.png" style="width: 6%"></a>
                  (8888 In-stock)
                </div>


                <div id="J_juValid" class="tb-action tb-clearfix ">


                  <div class="tb-btn-buy">

                    <a href="" class="J_LinkBuy" shortcut-label="立即购买">
                      Check Out
                    </a>

                  </div>

                  <div class="tb-btn-add">

                    <a (click)="addToCart()" title="加入购物车" class="J_LinkAdd" shortcut-label="加入购物车">
                      <div style="float: left;margin-top: 5px;margin-left: 20px">
                        <img src="../image/info/18.png">
                      </div>
                      <div style="float: left;margin-left: 20px">Add to Cart</div>
                    </a>

                  </div>


                </div>

              </div>

            </div>

            <script type="text/javascript">
              $(document).ready(function () {

                $(".jqzoom").imagezoom();

                $("#thumblist li a").click(function () {
                  $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                  $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                  $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                });

              });
            </script>



          </div>
        </div>
      </div>
    </div>




    <!--底部-->

    <div class="tb-price-spec" style="margin-left: 160px">
      <h3 class="spec-title">Lorem Ipsum</h3>
      <p class="title">Lorem Ipsum</p>
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        <strong>Lorem ipsum</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      <p class="title">Lorem ipsum dolor sit amet</p>
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Lorem ipsum</strong>Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. </p>
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. </p>
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. </p>
    </div>

    <div class="J_AsyncDC" data-type="dr" style="margin-left: 160px">
      <div id="official-remind">
        <dl class="tb-security">
          <dt>Security Notice:</dt>
          <dd>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <em class="tb-h">Lorem ipsum</em>Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. <em class="tb-h">Lorem ipsum</em>Lorem ipsum dolor <em
                class="tb-h">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </em>Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. <em class="tb-h">银行卡</em>、<em class="tb-h">Lorem</em>、<em class="tb-h">Lorem
                ipsum </em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="" target="_blank">Lorem
                ipsum</a></p>

          </dd>
        </dl>
        <dl class="tb-exemption">
          <dt>Content Warning:</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis dolor consequat massa lacinia
            posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eu elit vel nisl
            consectetur mollis. Ut suscipit tellus quis nulla hendrerit, eu ultricies arcu eleifend. Aliquam sit amet
            purus in augue malesuada ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Proin sollicitudin tellus ut feugiat suscipit. Phasellus et hendrerit augue, et
            pellentesque purus. Duis vitae finibus orci. Aenean eget sem vel mi aliquet iaculis. Mauris fermentum sem
            sit amet turpis congue egestas. Nullam eu mattis mauris. Nam mi ante, hendrerit ut semper non, pharetra
            eleifend magna. Nunc augue mauris, vestibulum non bibendum vitae, congue vel elit.。</dd>
        </dl>
      </div>
    </div>

    <div class="tb-module tshop-um tshop-um-ow-dpyw" style="margin-left: 200px;margin-right: 200px">
      <div class="dpyw" style="position:relative;min-height:20px;">



        <div class="slmk" style="">

          <div class="nrsz" style="display:block;">
            <div class="mybd" style="">

              <div class="ml" style="">







              </div>



              <div class="ml" style="width:280px;padding:0 195px;text-align:center;line-height:120px;font-weight:bold;">
                <a href="#top" style="color:#000;">
                  <p style="">
                    <span style="font-size:60px;font-size:60px;">
                      TOP </span>
                  </p>
                </a>
              </div>



            </div>
          </div>



        </div>








      </div>
    </div>


    <div id="J_footer">
      <div class="con-wrap ai-taobao-foot" id="J_footer_con">
        <div class="footer">
          <div class="footer-hd">
            <p>
              <a href="">About EMP</a>
              <b>|</b>
              <a href="">Announcements</a>
              <b>|</b>
              <a href="">Community</a>
              <b>|</b>
              <a href="">Security Center</a>
              <b>|</b>
              <a href="">Seller Center</a>
              <b>|</b>
              <a href="">Policies</a>
              <b>|</b>
              <a href="">Affiliates</a>
              <b>|</b>
              <a href="">Help & Contact</a>
              <b>|</b>
              <a href="">Site Map</a>
            </p>
          </div>
          <div class="footer-bd">
            <p>
              <a><u>Accessibility</u></a>
              <a><u>User Agreement</u></a>
              <a><u>Privacy</u></a>
              <a><u>Payment Terms of Use</u></a>
              <a><u>Cookies</u></a>
              <a><u>Your Privacy Choices</u></a>
              <a><u>AdChoice</u></a>

            </p>
            <p>
              <em>©2023 Exeter Marketplace. All Rights Reserved.</em>
            </p>

          </div>

        </div>
      </div>





    </div>
  </body>


</ion-content>