<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar class="navbar" color="primary">
      <div slot="start" (click)="homeNav()">
        <ion-img style="padding-left: 200px !important;" src="assets/images/nav_logo.png" style="height: 5vh !important;"
        slot="start"></ion-img>
      </div>
      
      <ion-button slot="end" shape="round" color="light" href="/list">List an Item</ion-button>
      <ion-button slot="end" shape="round" color="light" (click)="logOut()">Logout</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <body>
    <header>
      <!--搜索-->
      <div id="J_Header">
       
      </div>
    </header>
    <div id="page">
      <div id="content">

        <p id="J_dcpg" class="design-page" style="display:none;"></p>
        <div class="J_AsyncDC" data-type="css">
        </div>
        <div id="J_DcHead" class="J_AsyncDC tb-async-head tb-shop" data-type="head" style="height: auto;">
          <!--hdkey:new_p_lazy_sid36230273_pid1629704105_isNew,cacheAt:2018-12-19 13:57:50,ip:sitemisc011001226217.center.na62-->
          <div class="tb-shop" id="hd" data-spm-anchor-id="2013.1.0.i0.3f334371Qsqttx">
            <div class="layout grid-m J_TLayout" data-widgetid="21105161916" data-componentid="23" data-prototypeid="23"
              data-id="21105161916" data-max="">

            </div>
          </div>
        </div>


        <!--内容1-->

        <div class="detail" style="height: 640px;margin-left: 100px">
          <div style="border: solid 1px #CDCDCD; margin-left: 200px;margin-top: 10px;width: 1160px;height: 620px">
            <div style="width: 400px;height: 480px; float: left">
              <div class="box" style="margin-top: 0px">

                <div>
                  <div class="tb-booth tb-pic tb-s310">
                    <a>
                      <img [src]="data.image" rel="assets/images/earbuds.jpg" class="jqzoom"
                        width="100%" /></a>
                  </div>

                
                </div>

              </div>

            </div>

            <div class="zhong" style="float: left">
              <div style="    padding: 20px 0 10px!important;width: 460px;height: 620px">
                <div class="zt"
                  style="    min-height: 21px;  _height: 21px; font-size: 16px; font-weight: 700; line-height: 21px; color: #3C3C3C;">
                  <h4>&nbsp;&nbsp;{{data.name}}</h4>
                </div>
                <a >
                  <div class="shoucang" style="display: block;float: left;margin-top: 20px">

                    <div style="display: block;float: left;margin-top: 0px;margin-left: 10px">
                      <a  style="font-weight: bold;">{{percentage}}% OFF</a>
                    </div>
                  </div>
                </a>


                <ul class="tb-meta tb-promo-meta">

                  <li id="J_StrPriceModBox" class="tb-detail-price tb-clear J_PriceItem">
                    <span class="tb-property-type">Price</span>
                    <div class="tb-property-cont">
                      <strong id="J_StrPrice"
                        style="font-size: 14px; color: rgb(60, 60, 60); font-weight: 400; text-decoration: line-through;">
                        <em class="tb-rmb">$</em><em class="tb-rmb-num">{{high_price}}.00</em></strong>

                    </div>
                  </li> 
                  <li id="J_PromoPrice" class="tb-detail-price tb-promo-price tb-clear">
                    <span class="tb-property-type">EMP Price</span>
                    <div class="tb-property-cont">
                      <div id="J_Promo" class="tb-promo-mod">
                        <div id="J_PromoHd" class="tb-promo-hd tb-promo-item">
                          <div class="tb-promo-item-bd">
                            <strong class="tb-promo-price"><em class="tb-rmb">$</em>
                              <em id="J_PromoPriceNum" class="tb-rmb-num">{{data.price}}.00</em></strong>
                            <span id="J_PromoType" class="tb-promo-type">PROMO!</span>
                            <span id="J_PromoTips" class="tb-promo-tips"></span>
                          </div>
                          <div class="tb-promo-item-ft"></div>
                        </div>
                        <div id="J_PromoBd" class="tb-promo-bd"></div>
                      </div>
                    </div>
                  </li>
                  <li id="J_Duty" style="margin-top: 10px;padding-top: 20px"></li>
                  <li id="J_ActivityPrice"></li>

                  <li id="J_OtherDiscount" class="tb-clear" style="margin-top: 10px;padding-top: 10px">
                    <span class="tb-property-type">Coupon</span>
                    <div class="tb-other-discount">

                      <div class="tb-other-discount-content tb-other-discount-split">
                        <div class="tb-coupon">
                          <div style="padding-top: 6px ;float: left">
                            <img class="tb-coupon-icon">
                          </div>
                          Buy 3 Free 1 Coupon


                          <a class="J_coupon" href="#">Get</a>


                        </div>

                        <div class="tb-coupon">
                          <div style="padding-top: 6px ;float: left ;margin-left: -85px">
                            <img class="tb-coupon-icon">
                          </div>
                          $10 Storewise Coupon


                          <a class="J_coupon" href="#">Get</a>


                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="J_Counter" class="tb-counter">
                    <!--<span class="tb-property-type">销量</span>-->
                  </li>

                </ul>




                <div class="peisong" style="margin-top: 10px;margin-bottom: 10px">

                  <p><span style="margin-right: 30px;margin-left: 10px">Pickup Location:</span> <span
                      style="margin-right: 10px;">{{data.pickup}}</span><span></span><a style="margin-left: 10px;">

                    </a> </p>

                    <br>
                    <br>

                      <p><span style="margin-right: 30px;margin-left: 10px; font-size: 15px;">Description:</span> <span
                        style="margin-right: 10px;  font-size: 15px;">{{data.description}}</span><span></span><a style="margin-left: 10px;">
  
                      </a> </p>
                 
                </div>
                
                <div style="height: 1px;border-bottom: dotted 1px gainsboro;width: 400px;float: left"></div>
                <div style="float: left;margin-top: -7px"></div>

                <div class="peisong" style="margin-top: 10px;margin-bottom: 10px;width: 460px">

                  
                </div>

                <div class="peisong" style="margin-top: 30px;margin-bottom: 10px;width: 460px;clear: both">



                </div>
                <!-- <div class="peisong" style="margin-top: 30px;margin-bottom: 10px;width: 460px;clear: both">

                  <span style="margin-right: 30px;margin-left: 10px;">Amount</span>
                  <a ><img src="../image/info/16.png" style="width: 6%"></a>
                  <input id="J_IptAmount" type="text" class="tb-text" value="1" maxlength="8" title="请输入购买量"
                    style=" margin-right: -5px;margin-left: -5px;   width: 48px;height: 26px;font-size: 16px; line-height: 26px;text-align: center;color: #666; border: 1px solid #CCC; outline: 0;background: #FFF;">
                  <a ><img src="../image/info/17.png" style="width: 6%"></a>
                  (8888 In-stock)
                </div> -->


                <div id="J_juValid" class="tb-action tb-clearfix " *ngIf="showAddCart">
                  <div class="tb-btn-buy">
                    <a  class="J_LinkBuy" shortcut-label="立即购买">
                      Check Out
                    </a>
                  </div>
                  <div class="tb-btn-add">

                    <a (click)="addToCart()" title="加入购物车" class="J_LinkAdd" shortcut-label="加入购物车">
                      <!-- <div style="float: left;margin-top: 5px;margin-left: 20px">
                        <img src="../image/info/18.png">
                      </div> -->
                      <div style="float: left;margin-left: 40px">Add to Cart</div>
                    </a>

                  </div>


                </div>

              </div>

            </div>

            <script type="text/javascript">
              $(document).ready(function () {

                $(".jqzoom").imagezoom();

                $("#thumblist li a").click(function () {
                  $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                  $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                  $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                });

              });
            </script>



          </div>
        </div>
      </div>
    </div>





  </body>


</ion-content>