<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar class="navbar" color="primary">
      <ion-img style="padding-left: 200px !important;" src="assets/images/nav_logo.png" style="height: 5vh !important;"
        slot="start"></ion-img>
      <ion-button slot="end" shape="round" color="light" href="/list">List an Item</ion-button>
      <ion-button slot="end" shape="round" color="light" (click)="logOut()">Log Out</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of cart">
    <ion-card-header>
      <ion-card-subtitle>Pickup: {{item.pickup}}</ion-card-subtitle>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Description: {{item.description}}
      <ion-button (click)="deleteItem(item.name!)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>