<ion-header>
</ion-header>

<ion-content>

  <ion-text color="secondary" class="ion-text-center login-logo">
    <h1>Login</h1>
  </ion-text>

  <form>

    <ion-item lines="full" class="email-form">
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="emailValue" name="firstName" type="text"></ion-input>
    </ion-item>

    

    <ion-row class="submit-button">
      <ion-col>
        <ion-button (click)="loginFunction()" type="upload item" color="light" expand="block">submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-text color="danger" class="ion-text-center login-logo" *ngIf="loginError">
    <p>The email or password are incorrect</p>
  </ion-text>
</ion-content>