<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <header>
    <nav class="tnav">
      <div class="site-nav">
        <div class="site-nav-bd">
          <ul class="site-nav-bd-l">
            <li class="menu">
              <div class="menu-hd">
                <a href="" class="h">Login
                </a>
                <a href="">Register
                </a>
              </div>
            </li>
            <li class="menu mobile">
              <div class="menu-hd">
              </div>
            </li>
            <li class="menu weekend">

            </li>
          </ul>
          <ul class="site-nav-bd-r">
            <li class="menu home">
              <div class="menu-hd">
                <a href="" class="h">Home Page
                </a>
              </div>
            </li>
            <li class="J_Menu menu my-taobao">
            </li>
            <li class="J_Menu menu menu-empty">
              <div class="menu-hd">
                <a href="">
                  <span class="iconfont icon-xiazai3">

                  </span>
                  <span>Cart</span>
                  <strong class="h"> &nbsp; 0</strong>
                </a>
                <span class="arrow-icon-wrapper">
                  <span class="iconfont icon-xiangxia">

                  </span>
                </span>
              </div>
            </li>
            <li class="J_Menu menu favorite">
              <div class="menu-hd">
                <a href="">
                  <span class="iconfont icon-xing ">

                  </span>
                  <span>Lists</span>
                </a>
              </div>
            </li>
            <li class="menu guide">
              <div class="menu-hd">
                <a href="">Directory</a>
              </div>
            </li>
            <li class="site-nav-pipe">|</li>
            <li class="J_Menu menu seller-center">
            </li>
            <li class="menu service">
              <div class="menu-hd">
                <a href="">Customer Service</a>
              </div>
            </li>
            <li class="J_Menu menu site-map">
              <div class="menu-hd">
                <a href="" target="_top">
                  <!--<span class="g-icon" style="color: #FF4400; font-size: 10px">  三-->
                  <!--</span>-->
                  <span>Account</span>
                </a>
                <span class="arrow-icon-wrapper">
                  <span class="iconfont icon-xiangxia">

                  </span>
                </span>
              </div>
              <!--<div class="menu-bd">-->
              <!--<div style="width: 972px;" id="J_SiteMapBd" class="menu-bd-panel">-->

              <!--</div>-->
              <!--</div>-->
            </li>
          </ul>

        </div>
      </div>

      <!--<img src="assets/images/tnav.png">-->
    </nav>


    <!--搜索-->
    <div class="s">


      <div id="ai-topsearch" bx-name="header_search" bx-path="components/header/search" bx-behavior="true">




        <div class="con-wrap clearfix">
          <!--搜索框-->
          <script>

            //搜索框空白时默认的文案
            var _search_box_default_txt = '';
            //空白情况下点击搜索会跳到综合搜索的搜索词。   优先级低于下面的搜索链接
            var _search_box_true_txt = '';
            //空白情况下点击搜索，会跳转的url。   这个优先级最高，有了这个 上面的搜索词就会失效。如果不想用，设置为空就行了，这样会默认使用上面的搜索词
            var _search_box_true_link = '';

            _search_box_true_link = _search_box_true_link.replace('&pid=mm_0_0_0', '');

            var _search_box_inject_worlds = [{
              "hot": true,
              "id": 0,
              "name": "SELECTED折扣季",
              "url": ""
            }];

          </script>
          <div class="search-wrap">
            <div class="search">
              <div class="search-border clearfix">
                <form action="" class="ks-combobox ks-combobox-shown">
                  <span class="label">搜宝贝</span>
                  <input type="hidden" name="pid">
                  <input type="hidden" value="" name="unid">
                  <input type="hidden" value="search" name="source_id">
                  <div class="ks-combobox-invalid-el">
                    <div class="ks-combobox-invalid-inner">

                    </div>
                  </div>
                  <span class="text-wrap">
                    <input type="text" class="text" id="key" name="key" accesskey="s" autocomplete="off"
                      x-webkit-speech="" x-webkit-grammar="builtin:translate" tabindex="0" aria-expanded="true"
                      hidefocus="true">
                  </span>
                  <input type="submit" class="submit" value="Search" index="1">
                  <input type="hidden" name="b" value="sousuo_ssk">
                </form>
              </div>
              <div class="search-links" trace="hotsearch">
                <a href="" class="red" index="1">Clinic
                </a>
                <a href="">Health & Household Products</a>
                <a href="">Coupons</a>
                <a href="">Marketplace Basics</a>
                <a href="">Beauty & Personal Care</a>
                <a href="">Books</a>
                <a href="">iPhone</a>
              </div>
            </div>
          </div>
          <!--logo-->
          <div>
            <div class="ai-logo ai-logo-index" trace="searchbarPromotion">


              <a href="" title="Exeter Marketplace" class="logo">
                <img src="assets/images//log1.png">
              </a>

            </div>
          </div>
          <!--活动广告位-->
          <div class="ai-topact-wrap">


            <ul class="tab-nav" style="display:none">
              <li class="current"><a href="javascript:void(0);">1</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--导航1-->
  <div>
    <!--导航菜单-->
    <script type="text/javascript">
      window.taobaoCenter = true
    </script>


    <!--TMS:1505078--><!--导航菜单-->
    <div class="head-nav-new">
      <div class="con-wrap clearfix">
        <div class="nav-bar">
          <!--<img src="assets/images/intr.png">-->

        </div>

        <div class="quick-links clearfix">
          <a class="logo1 atbfont" href="" title="淘宝网"></a>
          <a class="logo2 atbfont" href="" title="天猫"></a>
          <a class="logo3 atbfont" href="" title="聚划算"></a>
        </div>
      </div>
    </div>
  </div>
  <!--内容-->




  <div class="index-main" trace="leftNavigation">
    <div class="con-wrap">




      <!-- 红包 -->


      <div class="left-nav">




        <a target="_blank" href="" class="left-title">
          <i class="atbfont"
            style="display: block;margin-top: 5px;float: left;padding-right: 20px;padding-left: 10px"><img
              src="assets/images/t3.png">
          </i>Top Deal: IHOP Gift Card
        </a>





        <div class="chanel-list-wrap">
          <div class="chanel-container">
            <div class="chanel-container-inner chanel-container-3 clearfix">
              <div class="chanel-tags-wrap">
                <div class="chanel-title chanel-title-3">
                  <a href="" class="title">Electro.</a>
                  <a href="" class="atbfont">
                    <img src="assets/images/l1.png" style="width: 50%"></a>
                </div>
                <div class="chanel-tags clearfix">
                  <a href="">Computers</a>
                  <a href="">Camera</a>
                  <a href="">Apple</a>
                  <a href="">TV</a>
                  <a href="">Speaker</a>
                  <a href="">Bluetooth</a>
                  <a href="">Cable</a>
                </div>
              </div>

              <div class="chanel-right-sub chanel-right-sub-3">
                <!--如果右侧不足6个楼层，前三个楼层高度调高点-->

                <div section="1" position="4" class="sub-tags-container sub-tags-container-small" data-index="1">


                  <div class="sub-tags-underline"></div>






                </div>
              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-4 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-4">
                    <a href="" class="title">Girl's</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l2.png" style="width: 50%"></a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="">Shoes</a>
                    <a href="">Dresses</a>
                    <a href="">Hats</a>
                    <a href="" class="red">Hoodies</a>
                    <a href="  ">Dress</a>
                    <a href="">Skirts</a>
                    <a href="">Pajamas</a>
                    <a href="">Socks</a>
                  </div>
                </div>


              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-5 clearfix">
                <div class="chanel-tags-wrap" position="1">
                  <div class="chanel-title chanel-title-5" data-channel="5">
                    <a href="" class="title">Boy's</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l3.png" style="width: 50%">
                    </a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="" class="red">Shoes</a>
                    <a href="">Jackets</a>
                    <a href="">Suits</a>
                    <a href="">Boots</a>
                    <a href="">Sweaters</a>
                    <a href="">Hoodies</a>
                    <a href="">Glasses</a>
                    <a href="">Pants</a>
                    <a href="">Ties</a>
                    <a href="">Belts</a>
                  </div>
                </div>


              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-1 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-1">
                    <a href="" class="title">Toy</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l4.png" style="width: 50%"></a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="">Puzzle</a>
                    <a href="">Rubik's Cube</a>
                    <a href="">Blocks</a>
                    <a href="" class="red">Dolls</a>
                    <a href="">LEGOs</a>
                    <a href="">Water Guns</a>
                  </div>
                </div>

              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-2 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-2">
                    <a href="" class="title">Dorm</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l5.png" style="width: 50%"></a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="">Sofa</a>
                    <a href="">Mugs</a>
                    <a href="">Carpets</a>
                    <a href="" class="red">Banners</a>
                    <a href="">Mattresses</a>
                    <a href="">LED Lights</a>
                    <a href="">Lamps</a>
                    <a href="">Mirrors</a>
                  </div>
                </div>


              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-8 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-8">
                    <a href="" class="title">Snack</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l8.png" style="width: 50%">
                    </a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="">Coffee</a>
                    <a href="" class="red">Bread</a>
                    <a href="">Milk</a>
                    <a href="">Fruit</a>
                    <a href="">Chips</a>
                    <a href="">Nuts</a>
                    <a href="">Ramen</a>
                    <a href="">Boba</a>
                  </div>
                </div>


              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-7 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-7">
                    <a class="title">Style</a>
                    <a class="atbfont">
                      <img src="assets/images/l3.png" style="width: 50%"></a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="" class="red">Lipsticks</a>
                    <a href="">Shampoos</a>
                    <a href="">Razors</a>
                    <a href="">Curling Irons</a>
                    <a href="">Wigs</a>
                    <a href="">Powders</a>
                  </div>
                </div>


              </div>
            </div>
            <div class="chanel-container">
              <div class="chanel-container-inner chanel-container-9 clearfix">
                <div class="chanel-tags-wrap">
                  <div class="chanel-title chanel-title-9">
                    <a href="" class="title">Bag</a>
                    <a href="" class="atbfont">
                      <img src="assets/images/l10.png" style="width: 50%"></a>
                  </div>
                  <div class="chanel-tags clearfix">
                    <a href="" section="8">Schoolbags</a>
                    <a href="" section="8">ZARA</a>
                    <a href="" section="8">Suitcases</a>
                    <a href="" section="8">Purses</a>
                    <a href="" section="8">Handbags</a>
                    <a href="" section="8">Hobos</a>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="main-right clearfix">
        <div class="main-right-top">
          <div class="slide-container clearfix">
            <div class="slide-wrap">


              <div class="roll"> <!-- 最外层包裹元素，用来控制整个大图的位置以及作为子元素定位的参考 -->
                <div id="out">
                  <div class="con"> <!-- 包裹图片，宽要比所有图片的总宽大， -->
                    <!-- <img src="images/04.jpg"> -->
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <img src="assets/images/tbd.png">
                    <!-- <img src="images/01.jpg"> -->
                  </div>
                  <ul class="round"> <!-- 放page小圆点 定位控制 z-index比图片大-->
                    <li class="select"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <p class="left"></p> <!-- 左右键 定位控制 z-index比图片大-->
                  <p class="right"></p>
                </div>
              </div>
              <!--xxxxx-->
            </div>
            <script>
              $.fn.extend({
                datu: function () {
                  var this2 = $(this);
                  var fir = this2.find('.con img:first').clone();
                  var las = this2.find('.con img:last').clone();
                  this2.find('.con').append(fir);
                  this2.find('.con').prepend(las);
                  var imgw = Math.floor(this2.find('.con img').width());
                  var out = this2.find('#out');
                  out.scrollLeft(imgw);
                  var x = 1, y = 0;
                  var time1 = null;
                  var img = this2.find('.con img'), li = this2.find('.round li');
                  var left = this2.find('.left'), right = this2.find('.right');
                  function huan() {
                    clearInterval(time1);
                    time1 = setInterval(function () {
                      x++;
                      if (x == img.length) {
                        x = 2;
                        out.scrollLeft(imgw);
                      }
                      y++;
                      if (y == li.length) {
                        y = 0;
                      }
                      bian();
                    }, 3000)
                  }
                  function bian() {
                    li.eq(y).addClass('select').siblings().removeClass('select');
                    out.animate({ scrollLeft: imgw * x });
                  }
                  left.click(function () {
                    clearInterval(time1);
                    x--;
                    if (x < 0) {
                      x = img.length - 3;
                      out.scrollLeft(imgw * (x + 1), 10);
                    }
                    y--;
                    if (y < 0) {
                      y = li.length - 1;
                    }
                    bian()
                    huan()
                  })
                  right.click(function () {
                    clearInterval(time1);
                    x++;
                    if (x == img.length) {
                      x = 2;
                      out.scrollLeft(imgw);
                    }
                    y++;
                    if (y == li.length) {
                      y = 0;
                    }
                    bian()
                    huan()
                  })
                  li.mouseenter(function () {
                    clearInterval(time1);
                    y = $(this).index();
                    x = y + 1;
                    bian()
                    huan()
                  })
                  huan();
                }
              })
              $(function () {
                $('.roll').datu();
              })
            </script>


            <div class="slide-right-banner">
              <div style="height:140px;" class="slide-right-banner-link">

                <a href="">
                  <img src="assets/images/tbd.png" width="180" height="140">
                </a>

              </div>
              <div class="slide-right-banner-link">


                <a href="">
                  <img src="assets/images/tbd.png" width="180" height="140">
                </a>



              </div>
            </div>
          </div>
          <div class="bl-right-navigation">
            <div class="right-brands-title">
              <a target="_blank" href="">
                <i class="atbfont" style="margin-top: 10px">
                  <img src="assets/images/y15.png" style="width: 7%; ">
                </i>
                My Profile
              </a>
            </div>

            <ul class="right-brands-list clearfix">
              <li>

                <a href="" style="line-height: 59px;">


                  <i class="atbfont" style="font-size: 38px;color:#c50a0a;">
                    <img src="assets/images/tbd.png" style="width: 40%">
                  </i>

                </a>
              </li>
              <li>

                <a href="" style="line-height: 60px;">


                  <i class="atbfont" style="font-size: 22px;color:#ff4400;">
                    <img src="assets/images/tbd.png" style="width: 60%">
                  </i>

                </a>
              </li>
              <li>

                <a href="" style="line-height: 57px;">


                  <i class="atbfont" style="font-size: 22px;color:#fd235d;">
                    <img src="assets/images/tbd.png" style="width: 60%">
                  </i>

                </a>
              </li>
              <li>

                <a href="">


                  <img src="assets/images/tbd.png" width="114" height="63">

                </a>
              </li>
              <li>

                <a href="" style="line-height: 56px;">



                  <i class="atbfont" style="font-size: 44px;color:#ff4400;">
                    <img src="assets/images/tbd.png" style="width: 60%">
                  </i>

                </a>
              </li>
              <li>
                <a href="">
                  <img src="assets/images/tbd.png" width="114" height="63">
                </a>
              </li>
              <li>

                <a target="_blank" href="" style="line-height: 60px;">



                  <i class="atbfont" style="color:#c50a0a;font-size: 16px;">
                    <img src="assets/images/tbd.png" style="width: 60%">
                  </i>

                </a>
              </li>
              <li>

                <a target="_blank" href="" style="line-height: 58px;">



                  <img src="assets/images/tbd.png" width="114" height="63">

                </a>
              </li>
              <!-- -->
            </ul>
          </div>
        </div>
        <div class="main-right-bottom">
          <div class="pubs-wrap">
            <div class="pubs-container">
              <div class="pubs-title">
                <a href="" target="_blank">
                  <i class="title-icon atbfont">
                    <img src="assets/images/y16.png" style="width: 4%"></i>Trending

                </a>

              </div>
              <div class="pubs-content clearfix">

                <div class="pubs-left-slide" id="J_pubs_slide">
                  <div class="pubs-left-slide-con" onclick="imSlider()"
                    style="width: 210px; overflow: hidden; height: 214px;">
                    <div
                      style="position: absolute; width: 1050px; overflow: hidden; left: 0px; transition-duration: 0.5s; transform: translate3d(-420px, 0px, 0px); backface-visibility: hidden; opacity: 1;">
                      <div class="pub-con-pannel" style="float: left; overflow: hidden; width: 210px; display: block;">
                        <a class="pub-con-wrap" href="" target="_blank">
                          <img width="210" height="210" src="assets/images/tbd.png">
                          <div class="pub-cover">
                            <div class="pub-title">

                              Lorem ipsum dolor
                            </div>
                            <div class="pub-content">
                              Lorem ipsum dolor sit amet!
                            </div>
                          </div>
                        </a>
                      </div>



                      <div class="pub-con-pannel" style="float: left; overflow: hidden; width: 210px; display: block;">
                        <a class="pub-con-wrap" href="" target="_blank">
                          <img width="210" height="210" src="assets/images/tbd.png">

                        </a>
                      </div>

                      <div class="pub-con-pannel" style="float: left; overflow: hidden; width: 210px; display: block;">
                        <a class="pub-con-wrap" href="" target="_blank">
                          <img width="210" height="210" src="assets/images/tbd.png">

                        </a>
                      </div>







                    </div>
                  </div>
                </div>



                <ul class="pubs-right-list">

                  <li>
                    <a href="" target="_blank" class="pubs-right-item pubs-type-2">
                      <i class="pubs-right-item-tag">Sale</i>
                      <span class="pubs-right-item-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </span>
                    </a>
                  </li>

                  <li>
                    <a href="" target="_blank" class="pubs-right-item pubs-type-1">
                      <i class="pubs-right-item-tag">Deal</i>
                      <span class="pubs-right-item-content">
                        Lorem ipsum dolor sit amet, consectetur
                      </span>
                    </a>
                  </li>

                  <li>
                    <a href="" target="_blank" class="pubs-right-item pubs-type-3">
                      <i class="pubs-right-item-tag">News</i>
                      <span class="pubs-right-item-content">
                        Lorem ipsum dolor sit amet, consectetur
                      </span>
                    </a>
                  </li>

                  <li>
                    <a href="" target="_blank" class="pubs-right-item pubs-type-5">
                      <i class="pubs-right-item-tag">Deal</i>
                      <span class="pubs-right-item-content">
                        Lorem ipsum dolor sit amet, consectetur
                      </span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>

            <div class="barrage-right-banner" data-spm="1998567485">
              <a target="_blank" href="">
                <img src="assets/images/tbd.png" width="180" height="238">
              </a>

            </div>

          </div>
          <div class="right-banners">
            <div class="right-bottom-navigation" data-spm="19985674861">

              <a href="" target="_blank">
                <img src="assets/images/tbd.png">
              </a>



            </div>
            <div class="right-bottom-navigation" data-spm="19985674862">

              <a href="" target="_blank">
                <img src="assets/images/tbd.png">
              </a>

            </div>
            <div class="right-bottom-navigation" data-spm="19985674863">

              <a href="" target="_blank">
                <img src="assets/images/tbd.png">
              </a>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</ion-content>