<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar class="navbar" color="primary">
      <ion-img style="padding-left: 200px !important;" src="assets/images/nav_logo.png" style="height: 5vh !important;"
        slot="start"></ion-img>
      <div>
        <ion-searchbar (ionInput)="handleInput($event)" placeholder="Search Here"
          style="width: 50%; padding-left: 10%;"></ion-searchbar>
      </div>
      <ion-button slot="end" shape="round" color="light" (click)="cart()">
        <ion-icon slot="icon-only" name="cart" color="primary"></ion-icon>
      </ion-button>
      <ion-button slot="end" shape="round" color="light" href="/list">List an Item</ion-button>
      <ion-button slot="end" shape="round" color="light" (click)="logOut()">Log Out</ion-button>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sidebar">
    <ion-icon slot="start" *ngFor="let item of items" [name]="item.icon" style="width: 100%; padding-top: 20%;"
      size="large" (click)="hello()"></ion-icon>
    <ion-text color="light">
      <h1>Filters</h1>
    </ion-text>
    <div *ngFor="let filter of filters">
      <ion-label color="light">{{filter.name}}</ion-label>
      <ion-range color="light" [pinFormatter]="pinFormatter" [pin]="true" aria-label="price" *ngIf="filter.slider"
        style="padding-left: 10%; padding-right: 10%;"></ion-range>
    </div>
  </div>
  <ion-card class="profile">
    <ion-card-content style="text-align: center;">
      <ion-text color="light">
        <h1>Welcome, {{profile.name}}</h1>
      </ion-text>
      <ion-button (click)="goToListPage()">List an Item</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card class="my-card" [class.expanded]="expanded" (click)="toggleCard()" *ngFor="let item of listings">
    <div class="image-container">
      <img [src]="imageSrc" />
    </div>
    <ion-card-header class="card-header" *ngIf="expanded">{{ header }}</ion-card-header>
    <ion-card-content class="card-content" *ngIf="expanded">{{ description }}</ion-card-content>
  </ion-card> -->
  <ion-card *ngFor="let item of listings" style="width:10%; position:relative; float: right;" (click)="goToItem(item)">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ${{item.price}}.00
    </ion-card-content>
  </ion-card>

</ion-content>