<ion-header [translucent]="true">
  <ion-header>
    <app-nav></app-nav>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="sidebar">
    <ion-icon slot="start" *ngFor="let item of items" [name]="item.icon" style="width: 100%; padding-top: 20%;" size="large" (click)="hello()"></ion-icon>
    <ion-text color="light">
      <h1>Filters</h1>
    </ion-text>
    <div *ngFor="let filter of filters">
      <ion-label color="light">{{filter.name}}</ion-label>
      <ion-range color="light" [pinFormatter]="pinFormatter" [pin]="true" aria-label="price" *ngIf="filter.slider" style="padding-left: 10%; padding-right: 10%;"></ion-range>
    </div>
  </div>
  <ion-card class="profile">
    <ion-card-content style="text-align: center;">
      <ion-text color="light">
        <h1>Welcome, {{profile.name}}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="my-card" [class.expanded]="expanded" (click)="toggleCard()">
    <div class="image-container">
      <img [src]="imageSrc" />
    </div>
    <ion-card-header class="card-header" *ngIf="expanded">{{ header }}</ion-card-header>
    <ion-card-content class="card-content" *ngIf="expanded">{{ description }}</ion-card-content>
  </ion-card>
  

</ion-content>
